body{
    border-collapse: collapse;
    background-image: url(w2.jpeg);
    color: white;
    background-size: cover;
}
.a{|
    border-collapse: collapse;
    
    border: 2px solid black;
    background-image: url(w1.jpeg);
    color: white;
    background-size: cover;
}
.b{
    border: 2px solid black;
    width: 200px;
    height: 200px;
}

.bagus{
    display: inline-block;
    padding: 12px 40px;
    background-image: linear-gradient(to right,
     rgb(18,194,233),
     rgb(196,113,237),
     rgb(246,79,89));
     border-radius: 60px;
     width: 200px;
     padding: 8px;
     margin: 10px;
     cursor: pointer;
     text-align: center;
}
.bagus:hover{
    animation:glow 1s linear infinite;
}
a:link{
    color: black;
    text-decoration: none;
}
@keyframes glow{
    0%{box-shadow: 5px 5px 20px rgb(93,52,168),
        -5px -5px 20px rgb(93,52,168);}
    50%{box-shadow: 5px 5px 20px rgb(81,224,210),
        -5px -5px 20px rgb(81,224,210);}
    100%{box-shadow: 5px 5px 20px rgb(93,52,168),
        -5px -5px 20px rgb(93, 52, 168);}
}